{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}


{% block main %}
	<main>
		<div class="collection-top-wrapper">
			<div class="collection-top-titles">
				<h1 class="h1-regular">{{collection.name}}</h1>
				{% if collection.private %}
					<p class="subtitle">Private collection

					</p>
				{% else %}
					<p class="subtitle">Public collection
					</p>
				{% endif %}

				<p class="subtitle">Created
					{{collection.createdAt|format_datetime('short', 'none', locale='en')}}</p>
			</div>

		</div>
		{% if not collection.private %}
			<input class="input-search" type="text" value="http://gifl/index.php?route=collection-public&collection={{collection.id}}">
			<button class="yellow-button small-button js-copy-btn">Copy Link</button>
			<span class="copy-message-alert js-copy-message">Link copied to clipboard</span>
		{% endif %}
		<div class="masonry-grid">
			{% for gif in gifs %}
				<div class="masonry-grid-item">
					<span tabindex="0" role="command" aria-label="Open GIF details" class="masonry-grid-link js-gif-modale" id="js-gif-id-{{gif.id}}"><img alt="" class="masonry-grid-img" id="js-gif-id-{{gif.id}}" src=" {{gif.link}} ">
					</span>
				</div>
			{% endfor %}
		</div>
		{% include 'modale-gif.html.twig' %}

	</main>
{% endblock %}
