{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}


{% block main %}
	<main>
		<div class="collection-top-wrapper">
			<div class="collection-top-titles">
				<h1 class="h1-regular">{{collection.name}}</h1>
				{% if collection.private %}
					<p class="subtitle">Private collection
					</p>
				{% else %}
					<p class="subtitle">Public collection
					</p>
				{% endif %}

				<p class="subtitle">Created
					{{collection.createdAt|format_datetime('short', 'none', locale='en')}}</p>
			</div>
			<nav class="collection-nav">
				<a class="link-button yellow-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=add">Add</a>
				<a class="link-button yellow-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=manage">Manage</a>
				<a class="link-button yellow-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=share">Share</a>
				<a class="link-button pink-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=upload">Upload</a>
			</nav>
		</div>
		{% if gif is defined %}
			<p>Your GIF has been successfully uploaded !</p>
			<img src="{{gif.link}}" alt="">
		{% endif %}
		<h2 class="subtitle">Upload a file</h2>
		<form class="upload-form" action="" method="post" enctype="multipart/form-data">
			<input type="hidden" name="csrf-token" id="csrf-token" value="{{session.csrfToken}}"/>
			<div class="upload-form-input-wrapper">
				<label for="image" class="drop-container form-input" id="dropcontainer">
					<p class="h2-regular">Drag and drop here</p>
					<p>Or click to browse files</p>
					<input type="hidden" name="formName" value="fileUpload"/>

					<input class="small-button" type="file" id="image" name="image" required/>
				</label>
			</div>
			<div class="upload-form-input-wrapper">
				<label class="form-label" for="hashtags">Hashtags (separated by spaces)</label>
				<input class="form-input" type="text" name="hashtags" id="hashtags">
			</div>
			<button class="yellow-button small-button" type="submit">Upload</button>
		</form>
		<h2 class="subtitle">Add with URL</h2>
		<form class="upload-form" action="index.php?route=collection&collection={{collection.id}}&action=upload" method="post">
			<input type="hidden" name="csrf-token" id="csrf-token" value="{{session.csrfToken}}"/>
			<div class="sign-form-input-wrapper">
				<label class="form-label" for="gifUrl">URL</label>
				<input class="form-input" type="text" name="gifUrl" id="gifUrl">
			</div>
			<div class="sign-form-input-wrapper">

				<label class="form-label" for="hashtags">Hashtags (separated by spaces)</label>
				<input class="form-input" type="text" name="hashtags" id="hashtags">
			</div>
			<button class="yellow-button small-button" type="submit">Upload</button>
		</form>
	</main>
{% endblock %}
