{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}


{% block main %}
	<main>
		<div class="collection-top-wrapper">
			<div class="collection-top-titles">
				<h1 class="h1-regular">{{collection.name}}</h1>
				{% if collection.private %}
					<p class="subtitle">Private collection
					</p>
				{% else %}
					<p class="subtitle">Public collection
					</p>
				{% endif %}
				<p class="subtitle">Created
					{{collection.createdAt|format_datetime('short', 'none', locale='en')}}</p>
			</div>
			<nav class="collection-nav">
				<a class="link-button pink-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=add">Add</a>
				<a class="link-button yellow-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=manage">Manage</a>
				<a class="link-button yellow-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=share">Share</a>
				<a class="link-button yellow-button small-button" href="index.php?route=collection&collection={{collection.id}}&action=upload">Upload</a>
			</nav>
		</div>
		{% if collection.name != "uploads" %}
			<form action="" method="POST" class="search-bar">
				<input type="text" name="input-search" id="input-search" class="input-search">
				<div class="search-bar-buttons-wrapper">
					<button type="submit" name="action" value="hashtag" class="yellow-button small-button">Search GIFs</button>
					<button type="submit" name="action" value="collection" class="yellow-button small-button">Search collections</button>
				</div>
			</form>
			<div class="js-search-result-display masonry-grid js-collection-add collection-{{collection.id}}"></div>
		{% else %}
			<p class="subtitle">You can only add GIFs to this collection by uploading a new gif</p>

		{% endif %}
		<div aria-modal="true" class="gif-display-modale-overlay modale-hidden">
			<div class="gif-display-modale modale-hidden">
				<button class="pink-button small-button close-modale-btn js-close-modale">Close</button>
				<div class="gif-card-top">
					<div class="gif-card-img-wrapper">
						<img class="js-gif-modale-img" src="" alt="">
					</div>
					<div class="js-gif-modale-hashtags hashtags-wrapper"></div>
				</div>
				<div class="gif-card-bottom">
					<div class="gif-card-auth-options modale-hidden"></div>

					<input class="input-search js-gif-modale-input js-input-search-gif" type="text">
					<div class="gif-card-buttons-wrapper">
						<button class="yellow-button small-button js-copy-btn-gif">Copy Link</button>
						<span class="js-copy-message-gif copy-message-gif-modale modale-hidden">GIF Link copied to clipboard</span>
						<button class="yellow-button small-button">Download GIF</button>
					</div>
				</div>

			</div>
		</div>
	</main>
{% endblock %}
