{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}


{% block main %}
	<main>
		<h1 class="h1-regular">{{collection.name}}</h1>
		<p>Created
			{{collection.createdAt|format_datetime('short', 'none', locale='en')}}</p>
		<nav>
			<a href="index.php?route=collection&collection={{collection.id}}&action=share">Share</a>
			<a href="index.php?route=collection&collection={{collection.id}}&action=add">Add</a>
			<a href="index.php?route=collection&collection={{collection.id}}&action=manage">Manage</a>
			<a href="index.php?route=collection&collection={{collection.id}}&action=upload">Upload</a>
		</nav>
		<div class="masonry-grid">
			{% for gif in gifs %}
				<div class="masonry-grid-item">
					<a class="masonry-grid-link" href="index.php?route=gif&gif={{gif.id}}"><img class="masonry-grid-img" src="{{gif.link}}">
					</a>
				</div>
			{% endfor %}
		</div>
	</main>
{% endblock %}
