{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block main %}
	<main>
		<h1 class="h1-regular">My collections</h1>
		<h2 class="subtitle">Create a new collection</h2>
		<form class="sign-form" action="index.php?route=create-collection" method="post">
			<input type="hidden" name="csrf-token" id="csrf-token" value="{{session.csrfToken}}"/>
			<div class="sign-form-input-wrapper">
				<label class="form-label" for="name">Name</label>
				<input class="form-input" type="text" name="name" id="name" required>
			</div>
			<div class="sign-form-input-wrapper">
				<label class="form-label" for="password">Privacy</label>

				<label class="form-label-radio" for="public">
					<input class="form-input-radio" type="radio" name="private" id="public" value="0" checked>
					Public</label>
				<label class="form-label-radio" for="private">
					<input class="form-input-radio" type="radio" name="private" id="private" value="1">
					Private</label>
			</div>

			<button class="yellow-button small-button" type="submit">Create</button>
		</form>
		<h2 class="subtitle">Browse collections</h2>
		{% for collection in collections %}
			<div class="collection-horizontal-pointer">
				<a href="index.php?route=collection&collection={{collection.id}}" class="collection-horizontal-pointer-text-wrapper">
					<p class="collection-horizontal-pointer-text">
						{% if collection.private %}
							<img class="lock-img" src="../assets/images/lock-aubergine.svg" alt="Private ">
						{% endif %}
						{{collection.name}}</p>
				</a>
				<img class="collection-horizontal-pointer-arrow" src="../assets/images/Arrow-yellow.svg" alt="">
			</div>
			{% set index = loop.index0 %}
			<div class="horizontal-trending-wrapper snaps-inline">
				{% for gif in collectionGifs[index] %}
					<a href="index.php?route=gif&gif={{gif.id}}" class="horizontal-trending-card">
						<img class="horizontal-trending-gif" src="{{gif.link}}" alt="">
					</a>
				{% endfor %}
			</div>
		{% endfor %}
		{% include 'modale-gif.html.twig' %}
	</main>

{% endblock %}
