{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block main %}
	<main>
		{% if search is same as("collection") %}
			<h1 class="h1-regular">{{collection.name}}</h1>
			<p class="subtitle">Created
				{{collection.createdAt.format('d/m/Y')}}</p>
			<div class="masonry-grid">
				{% for gif in gifs %}
					<div class="masonry-grid-item">
						<span tabindex="0" role="command" aria-label="Open GIF details" class="masonry-grid-link js-gif-modale" id="js-gif-id-{{gif.id}}"><img alt="" class="masonry-grid-img" id="js-gif-id-{{gif.id}}" src=" {{gif.link}} ">
						</span>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h1 class="h1-regular">#{{hashtag.name}}</h1>
			<p class="subtitle">Created
				{{hashtag.createdAt.format('d/m/Y')}}</p>
			<div class="masonry-grid">
				{% for gif in gifs %}
					<div class="masonry-grid-item">
						<span tabindex="0" role="command" aria-label="Open GIF details" class="masonry-grid-link js-gif-modale" id="js-gif-id-{{gif.id}}"><img alt="" class="masonry-grid-img" id="js-gif-id-{{gif.id}}" src=" {{gif.link}} ">
						</span>
					</div>
				{% endfor %}
			</div>

		{% endif %}
		{% include 'modale-gif.html.twig' %}
	</main>
{% endblock %}
