{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}

{% block main %}
	<main>
		{% if search is same as("collection") %}
			<h1 class="h1-regular">{{collection.name}}</h1>
			<p class="subtitle">Created
				{{collection.createdAt.format('d/m/Y')}}</p>
			<div class="masonry-grid">
				{% for gif in gifs %}
					<div class="masonry-grid-item">
						<a class="masonry-grid-link" href="index.php?route=gif&gif={{gif.id}}"><img class="masonry-grid-img" src="{{gif.link}}">
						</a>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<h1 class="h1-regular">#{{hashtag.name}}</h1>
			<p class="subtitle">Created
				{{hashtag.createdAt.format('d/m/Y')}}</p>
			<div class="masonry-grid">
				{% for gif in gifs %}
					<div class="masonry-grid-item">
						<a class="masonry-grid-link" href="index.php?route=gif&gif={{gif.id}}"><img class="masonry-grid-img" src="{{gif.link}}">
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}

	</main>
{% endblock %}
