{% extends "layout.html.twig" %}

{% block header %}
	{% include 'header.html.twig' %}
{% endblock %}


{% block main %}
	<main>
		<h2 class="h2-regular">Trending hashtags</h2>
		<div class="horizontal-trending-wrapper snaps-inline">
			{% for key, hashtag in hashtags %}
				<a href="index.php?route=hashtag-page&hashtag={{hashtag.id}}" class="horizontal-trending-card">
					<img class="horizontal-trending-gif" src="{{hashtagsLatestGifs[key].link}}" alt="">
					<p class="horizontal-trending-hashtag">#{{hashtag.name}}</p>
				</a>
			{% endfor %}
		</div>
		<h2 class="h2-regular">My collections</h2>
		<div class="collections-container masonry-grid">

			{% for collection in collections %}
				<div class="collection-card masonry-grid-item">
					<a href="index.php?route=collection&collection={{collection.id}}&action=share">
						<img class="collection-card-gif" src="{{gifs[loop.index0].link}}" alt="">
					</a>
					<a href="index.php?route=collection&collection={{collection.id}}&action=share">
						<div class="collection-card-pointer">
							<div class="collection-card-pointer-text-wrapper">
								<p class="collection-card-pointer-text">
									{% if collection.private %}
										<img class="lock-img" src="../assets/images/lock-aubergine.svg" alt="Private ">
									{% endif %}
									{{collection.name}}</p>
							</div>
							<img class="collection-card-pointer-arrow" src="../assets/images/Arrow-yellow.svg" alt="">
						</div>
					</a>

				</div>

			{% endfor %}
		</div>
		{% include 'modale-gif.html.twig' %}
	</main>
{% endblock %}
